<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cpigeon.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".modular.usercenter.view.activity.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <activity
            android:name=".modular.usercenter.view.activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".modular.footsearch.view.activity.FootSearchActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.guide.view.SplashActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modular.home.view.activity.WebActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.AboutActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.FeedBackActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.UserBalanceListActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.UserInfoActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.EditActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.order.view.activity.OrderActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.settings.view.activity.SettingsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.settings.view.activity.SettingSecurityActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.HelpActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.SetUserPwdActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.SetPayPwdActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>